<!doctype html>
<html lang="en">
<head>
[%
    PROCESS 'views/inc/header.tt';

    # load any other scripts
    IF scr_arr;
        FOREACH s IN scr_arr;
            '<script type="text/javascript" src="' _ s _ '"></script>';
        END;
    END;
%]
  <title>[% page_title %]</title>
</head>
<body>
<div class="container-fluid kb-html-report">
[%
    content; # the page content
%]
</div>
</body>
</html>
