<!doctype html>
<html lang="en">
<head>
[%

    PROCESS 'views/inc/header.tt';

%]
  <title>[% page_title %]</title>
</head>
<body>
<div class="container-fluid kb-html-report">
[%
    content; # the page content
%]
</div>
</body>
</html>
