[%

  page_title         = 'CheckM Quality Report';
  data_file          = '/static/data/CheckM_summary_table.tsv';
  data_file_format   = 'tsv';
  table_id           = 'checkm_tabular-table';
  include_datatables = 1;
  include_dsv_parser = 1;

  PROCESS 'views/inc/macros.tt';
  PROCESS 'views/inc/js.tt';
  WRAPPER 'views/inc/page_wrapper.tt';

    page_content = [
      {
        name    => 'CheckM Plot',
        name_lc => 'checkm_plot',
        content => 'image',
        config  => {
          img_alt => 'Visual representation of CheckM results',
          img_src => '/static/images/checkM_filter_bin_qa_plot.png',
          caption => '<p>Some sort of caption here</p>',
        },
      },
      {
        name    => 'CheckM Table',
        name_lc => 'checkm_tabular',
        content => 'table',
        table_config => {
          id                => table_id,
          for_datatables_js => 1,
        },
      },
    ];

    tabbed_layout;

    WRAPPER js_wrapper; %]

    const cols = [
      "Bin Name",
      "Marker Lineage",
      "# Genomes",
      "# Markers",
      "# Marker Sets",
      "0",
      "1",
      "2",
      "3",
      "4",
      "5+",
      "Completeness",
      "Contamination",
    ].map( d => { return { data: d, title: d } } )
    // first column we want to render a link
    cols[0].render = function ( data, type ) {
      if ( type !== 'display' )
        return data;
      return '<a href="' + data + '.html">' + data + '</a>'
    }

[%  PROCESS default_table_conf %]
    tableConfig.createdRow = function( row, data ) {
      if ( data[ 'Contamination' ] > 1.0 ) {
        $(row).addClass( 'danger' );
      }
    }
[%
    PROCESS default_data_load;

    END; # end js_wrapper
  END; # end page_wrapper

%]
