[%
    include_dsv_parser = 1;
    page_title = 'Functional Enrichment for GO terms';
    WRAPPER 'views/inc/page_wrapper.tt';

    table_id = 'functional_enrichment_go-table';
    page_content = [
      {
        name    => 'Functional Enrichment',
        name_lc => 'functional_enrichment_go',
        content => 'table',
        table_config => {
          id                => table_id,
          for_datatables_js => 1,
        },
      }
    ];

    PROCESS 'views/inc/macros.tt';

    tabbed_layout( page_content = page_content );

%]
</div>
<script>
  "use strict";
  $(document).ready(function () {

    const cols = [
      { data: 'term_id', title: 'Term ID' },
      { data: 'term', title: 'Description' },
      { data: 'ontology', title: 'Ontology' },
      { data: 'num_in_feature_set', title: 'Number in FeatureSet' },
      { data: 'num_in_ref_genome', title: 'Number in Genome' },
      { data: 'raw_p_value', title: 'Raw p-value' },
      { data: 'adjusted_p_value', title: 'Corrected p-value' },
    ]

    const tableConfig = {
      dom: 'Bfrtipl',
      buttons: ['csvHtml5'],
      lengthMenu: [ [25, 50, -1], [25, 50, "All"] ],
      columns: cols,
    }
    d3.csv('/static/functional_enrichment.csv').then(function(data) {
      tableConfig.data = data
      $('#[% table_id %]').DataTable(tableConfig);
    });
  })
</script>
[%
    END; # end wrapper

%]
