[%
  page_title         = 'Trimmomatic Results';
  include_datatables = 1;

  PROCESS 'views/inc/js.tt';
  PROCESS 'views/inc/macros.tt';
  WRAPPER 'views/inc/page_wrapper.tt';

    FOR result IN page_content;
      # capture the output of BLOCK trimmomatic_result
      rendered_content = PROCESS trimmomatic_result;
      result.rendered_content = rendered_content;
    END;

    tabbed_layout;

    WRAPPER js_wrapper; %]

    function get_data( id ) {
      const data_set = {
[%      FOR result IN page_content;
          IF result.data;
%]      '[% result.name_lc %]-table': [% result.data %],
[%        END;
        END; %]
      }

      if ( ! data_set[ id ] ) {
        console.error( 'No data found for ' + id )
        return
      }
      return data_set[ id ]
    }

    const cols = [
      {
        data: "type",
        title: "Type"
      },
      {
        data: "raw",
        title: "Raw data",
      },
      {
        data: "perc",
        title: "Percent",
      },
      {
        data: "bar_chart",
        title: "Visual Representation",
        cellClass: 'percent-cell',
        render: ( data, type ) => {
          let str = '<div class="progress">' +
            '<div class="progress-bar" role="progressbar" aria-valuenow="'
            + data + '" aria-valuemin="0" aria-valuemax="100" style="width: ' + data + '%">'
            + '<span class="sr-only">' + data + '%</span></div></div>';
          return str
        } },
    ]

    $('table').each( (index, element) => {
      let id = element.id,
      table_data = get_data( id );
      table_data.forEach( el => {
        el.bar_chart = el.perc
      } );
      if ( table_data ) {
        $('#' + id ).DataTable({
          dom: 'frt',
          columns: cols,
          data: table_data,
          ordering: false,
        });
      }
    })
[%
    END; # end js_wrapper
  END; # end page_wrapper


    BLOCK trimmomatic_result;

    # default presentation for trimmomatic results
    # input data structure:
    # result = {
    #   name: 'human-comprehensible identifier',
    #   name_lc: 'URI-friendly unique identifier',
    #   ref: 'workspace object reference',
    #   data: [
    #     # arrays of objects of the form
    #     { type: "description", raw: #####, perc: ##### }
    #     # may or may not be present, depending on whether trimmomatic produced results
    #   ]
    # }
%]
      <h2>Trimmomatic Results for [% result.name %] (object [% result.reference %])</h2>
[%
      IF ! result.data;
%]
      <p>All reads were trimmed - no new reads object created.</p>
[%
      ELSE;
        data_table = {
          for_datatables_js => 1,
          id                => result.name_lc _ '-table',
        };
        PROCESS 'views/inc/table.tt';
      END; # if result.data

    END; # end BLOCK

%]
