[%
  page_title         = 'Import Genbank file';
  include_datatables = 1;

  scr_arr = ["https://www.gstatic.com/charts/loader.js"];
  PROCESS 'views/inc/js.tt';
  PROCESS 'views/inc/macros.tt';
  WRAPPER 'views/inc/page_wrapper.tt';

    page_content = [
        {   name    => "Overview",
            name_lc => "overview",
            content => 'table',
            table_config  => {
              id                => 'overview-table',
              thead             => {
                enum => [ 'Attribute', 'Value' ],
              },
              for_datatables_js => 1,
            }
        },
        {
            name    => 'Stats',
            name_lc => 'stats',
            rendered_content => '
            <div class="row">
              <div class="col-md-6" id="feature_chart_div"></div>
              <div class="col-md-6" id="contig_chart_div"></div>
            </div>'
        }
    ];

    tabbed_layout;

    WRAPPER js_wrapper;
%]
    const input_data = [% upload_data %],
    table_data_obj = {[%
      FOR item IN upload_data; %]
      "[% item.first %]": "[% item.last %]",[%
      END; %]
    }

    $( '#overview-table' ).DataTable({
      dom: 't',
      columns: [
        { title: 'Attribute' },
        { title: 'Value' },
      ],
      data: input_data,
      ordering: false,
      paging: false,
    });

    google.charts.load('current', {'packages':['corechart']});

    google.charts.setOnLoadCallback(drawFeatures);
    google.charts.setOnLoadCallback(drawContigs);

    function drawFeatures() {
      const genomeFeatures = ['CDS', 'misc_feature', 'mobile_element', 'ncRNA', 'non_coding_features', 'non_coding_genes', 'protein_encoding_gene', 'rRNA', 'rep_origin', 'repeat_region', 'tRNA', 'tmRNA'].map( f => { return [f, parseInt(table_data_obj[f])]})

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Type');
      data.addColumn('number', 'Count');
      data.addRows(genomeFeatures);

      var options = {
        'title':    'Genome Features',
        'fontSize': 14,
        'width':    600,
        'height':   500,
      };

      var chart = new google.visualization.PieChart(
        document.getElementById( 'feature_chart_div' )
      );
      chart.draw(data, options);
    }

    function drawContigs() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Type');
      data.addColumn('number', 'Size');

      data.addRows([[%
      FOR length IN contig_length;
      '["' _ length.join('",') _ '],';
      END;
       %]]);
      var options = {
        'title':    'Contig Length',
        'legend':   { 'position': 'none' },
        'hAxis':    { 'slantedText': 1 },
        'fontSize': 14,
        'width':    600,
        'height':   500,
      };

      var chart = new google.visualization.Histogram(
        document.getElementById('contig_chart_div')
      );
      chart.draw(data, options);
    }
[%
    END; # end js_wrapper
  END; # end page wrapper
%]

