[%
    page_title = 'Template View: ' _ page_title;

    WRAPPER 'views/inc/page_wrapper.tt';
    PROCESS 'views/inc/macros.tt';

    page_content = [
      {
        name    => 'Template View: ' _ page_title, # text displayed on the tab
        name_lc => 'tmpl_view',
        rendered_content => '<pre>' _ content _ '</pre>',
      },
    ];

    tabbed_layout;

    END; # end wrapper

%]
